@font-face {
  font-family: "Bigilla";
  src: url("../src/assets/Bigilla.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "Bigilla";
  src: url("../src/assets/Bigilla-Bold.otf") format("opentype");
  font-weight: bold;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

// Customes Here

$primary: #fff1ce;
$primary-rgb: 255 241 206;
$secondary: #3f5e53;
$info: #af5531;
$info-rgb: 175 85 49;
$body-color: $primary;
$body-bg: $secondary;
$link-color: $primary;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;
$font-family-sans-serif: "Lato";
$font-family-serif: "Bigilla";

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "info": $info,
);

$fs-1: 12px;
$fs-2: 14px;
$fs-3: 16px;
$fs-4: 20px;
$fs-5: 24px;
$fs-6: 28px;

$fs-md-1: 18px; // btn text/ nav links
$fs-md-2: 20px; //for text
$fs-md-3: 30px; // For Logo
$fs-md-4: 50px; // For h2s
$fs-md-5: 60px; // For Gilter

// xl use 20 and 24 from small
// xl use 30 from md
$fs-xl-1: 20px;
$fs-xl-2: 24px;
$fs-xl-3: 30px;
$fs-xl-4: 40px;
$fs-xl-5: 44px;
$fs-xl-6: 88px;
$fs-xl-7: 100px;

$smalls: (12, 14, 16, 20, 24, 28);

@for $i from 1 through length($smalls) {
  $fs: nth($smalls, $i);

  .fs-sm-#{$i} {
    font-size: #{$fs}px;
  }
}

$mediums: (18, 20, 30, 50, 60);

@for $i from 1 through length($mediums) {
  $fs: nth($mediums, $i);

  @media (min-width: 650px) {
    .fs-md-#{$i} {
      font-size: #{$fs}px;
    }
  }
}

$xlarges: (20, 24, 30, 40, 44, 88, 100);

@for $i from 1 through length($xlarges) {
  $fs: nth($xlarges, $i);

  @media (min-width: 1200px) {
    .fs-xl-#{$i} {
      font-size: #{$fs}px;
    }
  }
}

.ff-serif {
  font-family: $font-family-serif;
}

.ff-sans {
  font-family: $font-family-sans-serif;
}

.fw-300 {
  font-weight: 300;
}

// CUSTOMS

body {
  font-family: $font-family-sans-serif;
}
.bord {
  border: 1px solid $info;
}

.bord-light {
  border: 1px solid $primary;
}

.custom-btn {
  background-color: $info;
  color: $primary;
  border: none;
  border-radius: 30px;
  padding: 15px 20px;
  margin: 0;
  text-decoration: none;
}
.custom-bg {
  background: $secondary, url("../src//assets/pattern_bgd.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.custom-gap {
  gap: 32px;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.of-cover {
  object-fit: cover;
}
.custom-brad-1 {
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
}
.custom-brad-2 {
  border-bottom-right-radius: 200px;
  border-bottom-left-radius: 200px;
}

.start-21 {
  left: 21px;
}

.top-18 {
  top: 18px;
}

// MARGINS
.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mt-100 {
  margin-top: 100px;
}
.mt-72 {
  margin-top: 72px;
}
.mt-50 {
  margin-top: 50px;
}

// PADDINGS
.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pt-116 {
  padding-top: 116px;
}

// WIDTHS
.w-150 {
  width: 150px;
}
.w-100 {
  width: 100%;
}

.w-182 {
  width: 182px;
}
.w-180 {
  width: 180px;
}

// HEIGHTS
.h-260 {
  height: 260px;
}
.h-107 {
  height: 107px;
}
.h-281 {
  height: 281px;
}
.h-full {
  height: 100%;
}
.h-500 {
  height: 600px;
}
.h-vw {
  min-height: 525px;
  height: 100vw;
}

ul.rm-mb {
  margin-bottom: 0;
}

.bg-custom-secondary {
  background-color: $secondary;
}
.bgd-clip {
  background-color: $secondary;
}
.bgd-hero {
  height: 350px;
  width: 220px;
  background-image: url("../src/assets/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid $info;
  border-radius: 50%;
  z-index: -10;
}

@media (min-width: 650px) {
  .bgd-hero {
    height: 550px;
    width: 350px;
  }
  .w-md-270 {
    width: 270px;
  }
  .h-md-400 {
    height: 400px;
  }
  .h-md-150 {
    height: 150px;
  }
  .mt-md-100 {
    margin-top: 100px;
  }
}
@media (min-width: 992px) {
  .h-xl-995 {
    height: 995px;
  }
  .pt-xl-434 {
    padding-top: 434px;
  }
  .bgd-hero {
    height: 791px;
    width: 485px;
  }
}
@media (min-width: 1200px) {
  .w-xl-361 {
    width: 361px;
  }
  .h-xl-572 {
    height: 572px;
  }
  .w-xl-344 {
    width: 344px;
  }
  .h-xl-476 {
    height: 476px;
  }
  .h-xl-215 {
    height: 215px;
  }
  .py-xl-27 {
    padding-top: 27px;
    padding-bottom: 27.18px;
  }
  .px-xl-17 {
    padding-right: 17px;
    padding-left: 17px;
  }
  .pt-xl-21 {
    padding-top: 21px;
  }
  .px-xl-24 {
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media (min-width: 1400px) {
  .custom-col {
    border: 1px solid $info;
    border-top-right-radius: 500px;
    border-top-left-radius: 500px;
    width: 492px;
    height: 349px;
  }
  .h-xxl-684 {
    height: 684px;
  }
  .w-xxl-520 {
    width: 520px;
  }
  .h-xxl-762 {
    height: 762px;
  }
  .h-xxl-776 {
    height: 762px;
  }
  .lh-1 {
    line-height: 1;
  }
}

// Customs Stop
@import "../node_modules/bootstrap/scss/bootstrap.scss";
